@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  /* font-family: "Saira Condensed", sans-serif; */
  /* font-family: "Playfair Display", serif; */

  /* Font Pairing bebas &  */
  /* font-family: "Bebas Neue", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Space Grotesk", sans-serif;
}

:root {
  --width: 95%;

  --black: black;
  --white: white;
  --red: #f9160e;
  --accent: #26226f;
  --accentDark: #14123b;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #f0f0f0;
}

/* Top Bar Wrapper  */
.top__bar_wrapper {
  width: 100%;
  height: auto;

  padding: 0.8rem 0;
  background: var(--accentDark);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Top Bar Container  */
.top__bar__container {
  width: var(--width);
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

/* Top Bar List  */
.top__bar__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  list-style: none;

  gap: 1rem;
}

/* Top Bar List link */
.top__bar__list li {
  cursor: pointer;
}

/* Top Bar List Link A */
.top__bar__list li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;

  color: var(--white);
  font-size: 14px;
  font-weight: bold;
}

/* Top Bar List SVG  */
.top__bar__list li a svg {
  fill: var(--red);
  width: 1rem;
  height: 1rem;
  transition: all 0.2s ease-in-out;
}

/* Top Bar List SVG Hover */
.top__bar__list li:hover svg {
  fill: var(--white);
}

/* Header  */
.nav__wrapper {
  position: relative;
  width: 100%;
  background: white;
  z-index: 99;
}

/* Nav  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--width);
  height: 4rem;
  padding: 0;
  margin: 0 auto;
  z-index: 999;
}

/* Toggle & Close Menu  */
.toggle__menu,
.close__menu {
  display: none;
}

/* Toggle & Close Menu  */
.toggle__menu i,
.close__menu i {
  font-size: 2rem;
  color: var(--accent);
}

/* Logo  */
.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -2px;
  color: var(--accent);

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 0.2rem;
}

.logo a img {
  width: 2rem;
  object-fit: cover;
}

/* Nav List  */
.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Nav Item  */
.nav__item {
  margin: 0 0 0 1.5rem;

  padding: 1.4rem 0;
}

.nav__item:last-child {
  padding: 0.5rem 1.3rem;
  border-radius: 0.1rem;
  background: red;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav__item:last-child:hover {
  background: var(--accent);
  box-shadow: 0;
}

.nav__item:last-child a {
  color: var(--white);
  font-weight: bold;
}
.nav__item:last-child:hover a {
  color: var(--white);
  box-shadow: 0;
}

/* Nav Link  */
.nav__link {
  font-weight: bold;
  height: 100%;
  padding: 1.4rem 0;
  color: var(--accent);
}

.nav__link:last-child {
  /* padding: 0; */
}

.nav__item:hover .nav__link {
  color: var(--red);
  box-shadow: inset 0 -2px var(--red);
}
.nav__item:last-child:hover .nav__link {
  box-shadow: inset 0 -2px transparent;
}

/* Dropdown Link  */
.dropdown__link {
  display: flex;
  align-items: center;
}

/* Dropdown Icon  */
.dropdown__icon {
  font-size: 1.3rem;
}

/* Mega Menu  */
.mega__menu {
  position: absolute;
  width: 100%;
  top: 4rem;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 23px 23px -21px rgb(0 0 0 / 0.25);
  z-index: -99;
  visibility: hidden;
  opacity: 0;
}

/* Mega Menu Content  */
.mega__menu__content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

/* Mega Menu Item  */
.mega__menu__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* Mega Menu Header  */
.mega__menu__header {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: -1px;
  color: var(--accent);
  margin-bottom: 1rem;
}

/* Menu Icon  */
.menu__icon {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  max-height: 2rem;
  border-radius: 50%;
  background: #efeef1;
  margin-right: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__icon i {
  font-size: 1rem;
  color: var(--accent);
}

/* Menu Link  */
.mega__menu__link a {
  font-weight: 500;
  font-size: 1.1rem;
  color: #000;
}

.mega__menu__link a:hover {
  color: var(--accent);
  text-decoration: underline;
}

.mega__menu__link p {
  font-size: 0.6875rem;
  font-weight: 400;
  color: #a8a1b5;
  font-size: 12px;
}
.dropdown:active .mega__menu,
.dropdown:hover .mega__menu {
  color: var(--accent);
  visibility: visible;
  transition: all 0.3s ease;
  opacity: 1;
}

/* Dropdown Icon Hover  */
.nav__item:active .dropdown__icon
.nav__item:hover .dropdown__icon {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

/* @media Queries  */
@media (max-width: 525px) {
  /* Top Bar Wrapper  */
  .top__bar_wrapper {
    padding: 0.8rem 0;
  }

  /* Top Bar Container  */
  .top__bar__container {
    flex-direction: column;
    gap: 1rem;
  }

  /* Top Bar List SVG  */
  .top__bar__list li a svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media (max-width: 435px) {
  /* Top Bar List Link A */
  .top__bar__list li a {
    font-size: 12px;
  }

  /* Top Bar List SVG  */
  .top__bar__list li a svg {
    width: 1rem;
    height: 1rem;
  }

  /* Top Bar List SVG Social Icons  */
  .top__bar__list li:nth-child(1) a svg,
  .top__bar__list li:nth-child(2) a svg,
  .top__bar__list li:nth-child(3) a svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media (max-width: 395px) {
  /* Top Bar Container  */
  .top__bar__container {
    gap: 1rem;
  }

  /* Top Bar List  */
  .top__bar__list:last-child {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  /* Top Bar List Link A */
  .top__bar__list li a {
    justify-content: center;
    font-size: 16px;
  }

  /* Top Bar List link */
  .top__bar__list:last-child li:last-child {
    grid-column: 2 span;
  }

  /* Top Bar List Link A */
  .top__bar__list:last-child li:last-child a {
    padding: 0.8rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    color: var(--accent);
    border-radius: 0.1rem;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  }

  /* Top Bar List Link A Hover*/
  .top__bar__list:last-child li:last-child a:hover {
    opacity: 0.8;
  }

  /* Top Bar List SVG Hover */
  .top__bar__list:last-child li:last-child:hover svg {
    fill: var(--red);
  }
}

@media (max-width: 1015px) {
  .mega__menu {
    justify-content: start;
    flex-wrap: wrap;
  }
}

@media (max-width: 975px) {
  .mega__menu {
    flex-direction: column;
    position: static;
    box-shadow: none;
    border-radius: 0;
    height: 0;
    max-width: 550px;
    overflow: hidden;
  }
  .dropdown:hover .mega__menu {
    height: 100%;
  }
  .nav__list {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    max-width: 550px;
    top: 0;
    background: #fff;
    flex-direction: column;
    overflow-x: hidden;
    display: block;
    transition: 0.3s;
  }

  .toggle__menu,
  .close__menu {
    display: block;
  }

  .toggle__menu i:hover {
    color: var(--red);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .close__menu {
    margin: 1rem 1rem 1rem auto;
    background: var(--accent);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
  }
  .close__menu:hover {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background: var(--red);
  }
  .close__menu i {
    line-height: 2rem;
    color: #fff;
    font-size: 22px;
  }

  .show__menu {
    left: 0;
  }

  /* Nav Link  */
  .nav__link {
    padding: .5rem 0;
    color: var(--accent);
    width: 125px;
  }

  /* Nav Item  */
  .nav__item {
    padding: .5rem 0;
  }

  /* Contact Button  */
  .nav__item:last-child {
    margin-top: 1rem;
    width: 85%;
  }

  .show__dropdown {
    color: var(--accent);
    visibility: visible;
    transition: all 0.3s ease;
    opacity: 1;
  }
}
